.about-bg {
     /* ff 3.6+ */
     background:-moz-linear-gradient(90deg, #091428 0%, #0A1428 100%); 

     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(90deg, #091428 0%, #0A1428 100%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(90deg, #091428 0%, #0A1428 100%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A1428', endColorstr='#091428', GradientType=0 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(90deg, #091428 0%, #0A1428 100%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(90deg, #091428 0%, #0A1428 100%);

     height: 60vh;
}

.about-contents {
    margin: 0 25%;
    padding: 25px;
    border-radius: 10px;

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, #463714 0%, #32281E 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, #463714 0%, #32281E 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, #463714 0%, #32281E 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32281E', endColorstr='#463714', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, #463714 0%, #32281E 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, #463714 0%, #32281E 100%);
}

.about-header {
    display: block;
    text-align: center;
    font-family: var(--font-family);
    font-size: 75px;
    color: #fff;
    text-decoration: underline;
}

.about-txt {
    text-align: center;
    font-family: var(--font-family);
    font-size: 15px;
    color: #A09B8C;
}