.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid black;
    padding: 0.5rem 1rem;
}

.logo {
    max-width: 75px;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;

    cursor: pointer;
}

.items {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-item {
    color: #fff;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;

    transition-duration: 0.2s;
}

.navbar-item:hover {
    border-bottom: 2px solid #0AC8B9;
}

.navbar-button {
    background-color: grey;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: None;
    display: inline-block;
    font-family: var(--font-family);
    font-size: 25px;

    cursor: pointer;
    transition-duration: 0.4s;
}

.navbar-button:hover {
    color: #0AC8B9;
    border: 5px solid #0AC8B9;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 1.5rem;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .logo {
        margin-bottom: 10%;
    }

    .navbar-item {
        margin-right: 0;
        margin-bottom: 10%;
    }
}