.footer-bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, #424549 0%, #282B30 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, #424549 0%, #282B30 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, #424549 0%, #282B30 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, #424549 0%, #282B30 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, #424549 0%, #282B30 100%);

    padding: 5px;
}

.footer-content {
    font-family: var(--font-family);
    font-size: 10px;
    color: #fff;

}

@media screen and (max-width: 850px) {
    .footer-bg {
        padding-bottom: 10px;
    }
}